<div role="main" class="container">
  <h2>List of Names</h2>
  <% if(list_of_names.length > 0) { %>
    <% for (var k = 0; k < list_of_names.length; k++) { %>
       <%=list_of_names[k] %> <br />
   <% } %>
  <% } %>
</div>
