<!DOCTYPE html>
<html lang="en">
  <%- include ('header') -%>
<body>
  <%- include ('navbar') -%>
  <main>
    <div class="jumbotron">
      <div class="container">
        <h1>Employee Data Entry Form</h1>
      </div>

    </div>
    <%- include ('list') -%>
  </main>
  <%- include ('footer') -%>
</body>

</html>

