<nav class="navbar navbar-expand-sm navbar-dark">
<div class="container">
  <ul class="navbar-nav">

  <li class="nav-item <% if(homeActive){ %>active<%}%>">

      <a class="nav-link" href="/">Home</a>

    </li>

    <li class="nav-item <% if(newActive){ %>active<%}%>" >

      <a class="nav-link" href="/new">Add Employee</a>

    </li>

    <li class="nav-item <% if(viewActive){ %>active<%}%>" >

        <a class="nav-link" href="/view">View Employees</a>

    </li>

</ul>
</div>


</nav>
